<div class="row headline">
  <div class="col-md-12 col-lg-6">
    <h2 class="py-3">Dokumente</h2>
    <p class="py-3">Hier findest du deine Dokumente</p>
  </div>
  <div class="col-md-12 col-lg-6">
    <button nbButton status="danger" shape="round" class="float-lg-right">Notfall</button>
  </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-12 my-5">
    <h6>Zuletzt hinzgefügte Dokumente</h6>
  </div>
  <div>
    <nb-card size="small" class="col-lg-3">
      <nb-card-body>
        <h6 class="flex-center flex-justify align-items-center">Dieses Element muss zentriert werden und Karten dynamisch generiert werden</h6>
        
      </nb-card-body>
      <nb-card-footer class="align-right">
        <p class="font-size-0">14.02.2022</p>
        <p class="font-size-3">Bericht Notaufnahme <i class="ion-arrow-right-c"></i></p>
        <!-- <nb-icon class="action-icon" icon="list-outline"></nb-icon> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>