<div class="row headline">
  <div class="col-md-12 col-lg-6">
    <h2 class="py-3">Hallo Max</h2>
    <p class="py-3">Hier findest du deine persönlichen Informationen</p>
  </div>
  <div class="col-md-12 col-lg-6">
    <button nbButton status="danger" shape="round" class="float-lg-right">Notfall</button>
  </div>
</div>



<div class="row">
  <div class="col-md-12 col-lg-4">
    <nb-card size="small">
      <nb-card-header>Kalender</nb-card-header>
      <nb-card-body>
        <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
        <h6>Du hast <strong class="text-success">heute keine</strong> anstehenden Termine.</h6>
        <p class="py-2">Hier sind ihre aktuellen Termine:</p>
        <p class="py-2 text-danger">Mittwoch 09:30 - Dr. Hausmann</p>
      </nb-card-body>
      <nb-card-footer class="align-right">
        Kalender öffnen
        <i class="ion-arrow-right-c"></i>
        <!-- <nb-icon class="action-icon" icon="list-outline"></nb-icon> -->
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-4">
    <nb-card size="small">
      <nb-card-header>Dokumente</nb-card-header>
      <nb-card-body>
        <p class="py-2">Hier finden sie alles von Arztbriefen, über Befunde und Rezepte, bis hin zu Verordnungen.</p>
        <p class="py-2"><strong>Neuste Dokumente:</strong></p>
      </nb-card-body>
      <nb-card-footer class="align-right">
        Dokumente öffnen
        <i class="ion-arrow-right-c"></i>
        <!-- <nb-icon class="action-icon" icon="list-outline"></nb-icon> -->
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-4">
    <nb-card accent="info" size="small">
      <p>Test</p>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-12">
    <nb-card size="small">
      <p>Test</p>
    </nb-card>
  </div>
</div>
