<div class="row headline my-5">
  <div class="col-md-12 col-lg-6 d-flex flex-row align-items-center">
    <nb-icon icon="medicines" pack="health" class="pr-5"></nb-icon>
    <h2 class="py-3 mb-0">Meine Medikamente</h2>
    <!-- <p class="py-3">Hier findest du deine persönlichen Informationen</p> -->
  </div>
  <div class="col-md-12 col-lg-6">
    <button nbButton status="danger" shape="round" class="float-lg-right">Notfall</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-6">
    <nb-card>
      <nb-card-header>
        Medikamente
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="data" (rowSelect)="showMyContainer=!showMyContainer"
          (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>

  <div *ngIf="showMyContainer" class="col-md-12 col-lg-6">
    <nb-card>
      <nb-card-header>
        Medikamente
      </nb-card-header>

      <nb-card-body>
        <p><strong>Hersteller</strong>
          asdsd</p>
        <p><strong>Form</strong>
          sdfsdfsdf</p>
      </nb-card-body>
    </nb-card>
    <mat-card>Simple card</mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-6">
    <button class="float-lg-right" nbButton status="primary" (click)="openStepperNebular()">Medikament
      hinzufügen</button>

    <button class="float-lg-right mx-3" nbButton status="secondary" (click)="openStepperMaterial()">Medikament
      hinzufügen Material</button>
  </div>
</div>